<h1>Listing field_mappings</h1>

<table>
  <thead>
    <tr>
      <th>Rule set</th>
      <th>Src field name</th>
      <th>Out field name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @field_mappings %>
  </tbody>
</table>

<br>

<%= link_to 'New Field mapping', new_field_mapping_path %>
