<div id="cp-build-0-preview" class="row">
  <div class="col-xs-12">
    <span class="label label-default">Preview</span>
    <%= csv_to_html build.table, add_class: 'table-condensed' %>
  </div>
</div>
