<div class="row">
  <div class="col-xs-6"><h1>Builds</h1></div>
  <div class="col-xs-6">
    <h1>&nbsp;<%# For alignment %>
      <div class="btn-group pull-right">
        <%= link_to "#{icon(:plus)} New".html_safe, new_build_path, class: 'btn btn-default' %>
      </div>
    </h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Build date</th>
          <th>Rows</th>
          <th>Columns</th>
          <th>Files</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render @builds %>
      </tbody>
    </table>
  </div>
</div>
