<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <% @build.build_files.map do |file| %>
      <% cache file do %>
        <%= display(file) %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_build_path(@build) %> |
<%= link_to 'Back', builds_path %>
